@model TotusTuus.Web.Areas.SuperAdmin.Models.Account.AccountDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Account.FullName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.AccessFailedCount)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Account.Id }) |*@
    @Html.ActionLink("Back to List", "Index", "Account", new { area = "SuperAdmin" }, null)
</p>

@if (Model.Account.AcceptedParishes.Any())
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m => m.Account.AcceptedParishes.FirstOrDefault().ParishName)</th>
            <th>@Html.DisplayNameFor(m => m.Account.AcceptedParishes.FirstOrDefault().City)</th>
            <th>@Html.DisplayNameFor(m => m.Account.AcceptedParishes.FirstOrDefault().State)</th>
            <th></th>
        </tr>

        @foreach (var parish in Model.Account.AcceptedParishes)
        {
            <tr>
                <td>@Html.DisplayFor(u => parish.ParishName)</td>
                <td>@Html.DisplayFor(u => parish.City)</td>
                <td>@Html.DisplayFor(u => parish.State)</td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new {area = "SuperAdmin", id = user.Id}) |*@
                    @Html.ActionLink("Details", "Details", new { controller = "Parish", area = "SuperAdmin", id = parish.Id }) |
                    @*@Html.ActionLink("Delete", "Delete", new {area = "SuperAdmin", id = user.Id})*@
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>Not accepted at any parishes.</h2>
}
