@model TotusTuus.Models.Parish.ParishDetails

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.ParishName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pastor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pastor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archdiocese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archdiocese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { area = "SuperAdmin" })
</p>
