<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/SuperAdmin/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="grid-container">
    <div id="header">            
        @Html.ActionLink("TotusTuus", "Index", "Home", new { area = "" }, new { id = "home-button"})
        <span class="app-name">Super Admin Portal</span>
    </div>

    <div id="nav">
        @Html.Partial("SuperAdminNavigation")
    </div>
    
    <div id="content-bar">
        <h2>@ViewBag.Title</h2>
        @RenderSection("content_bar", false)
    </div>
    
    <div id="content">
        @RenderBody()
    </div>
    
    <div id="footer">
        <span>&copy; @DateTime.Now.Year - TotusTuus</span>
    </div>
</div>    


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>